[2015-01-18 13:59] my90558 opened #20 "Use smaller poster size for TV Shows"
Would it be possible to change the EZTV API (eztvapi.re) to use the Thumbnail image size for posters instead of the original size? The original sizes has large resolutions and as a result takes quite a longer time to load the posters and uses a lot more bandwidth.

For example: In the Series "Sherlock" (http://eztvapi.re/show/tt1475582)

Can we rather use this:
https://walter.trakt.us/images/shows

[2015-01-18 14:11] se-bastiaan commented on #20
Just change the image url when needed. The size of the images is not affecting the speed of the API.

[2015-01-18 14:11] #20 closed

[2015-01-19 05:37] xeoncore commented on #20
@my90558 This will be addressed in the app at a later date!

[2015-01-19 17:56] my90558 commented on #20
Cool, thanks Xeon

[2015-02-28 14:48] sv244 commented on #22
@xeoncore or @wallydz can answer that question.

[2015-03-04 11:25] xeoncore commented on #22
The API isn't really designed (or documented) to be used externally from our app. It was written for a specific need. IF people want to start using it outside of Popcorn Time I suggest you let us know via email (hello@popcorntime.io) or you host your own version as it costs us money out of pocket to provide the API service for Popcorn Time users.

[2016-03-07 01:19] z11h opened #2 "Will this replace the Movie and TV apis?"
I was just wondering, because the current Movies and TV apis are quite bad :smiley:

Thanks!

[2016-03-07 14:48] team-pct commented on #2
The current TV show API is the one you see if it is bad , then please make it better , you will make many happy people

[2016-03-08 14:58] team-pct opened #5 "Metadata refresh function / module"
Refresh metadata every XX Hours is needed to get new trait data for trending / popularity / and Posters / covers

[2016-03-08 15:00] team-pct opened #6 "Scanning Missing episodes on current database"
Scan missing episodes on every seasons , query the missing episodes by Title + sXXeYY *( Maybe using Kat-api )

[2016-03-08 15:01] team-pct opened #7 "API output best Torrent for selected quality"
Maybe make the API select only the best torrent for the selected episode / quality instead of showing multi provider and let Popcorn Time select the torrent

[2016-03-08 15:09] team-pct opened #8 "Daily Shows Format are not being scarped"
Example The Daily Show 2016 03 07

[2016-03-09 14:57] cmd430 opened #9 "EZTV shows with multiple formats dont get added to API"
https://eztv.ag/search/last-week

there are a few episodes that are date based here, this seems to prevent the entire show from being added to the database

[2016-03-09 15:23] ChrisAlderson commented on #9
Duplicate, see Issue #8

[2016-03-09 15:23] #9 closed, assigned to nobody

[2016-03-09 15:48] cmd430 commented on #8
~~ok i think i fixed this, with [this edit](https://github.com/cmd430/tv-api/commit/ef2f4f596a8556c9a93b604aeafcc9ea838ca010) to the regex~~

edit: after some more testing, i dont think it does work :/

[2016-03-09 16:11] ChrisAlderson commented on #8
dateBased episodes are not (yet) added because we need metadata for the episode from Trakt.tv. There is no implementation for getting the metadata for dateBased episodes, so that's why dateBased episodes are not passing [here](https://github.com/popcorn-official/popcorn-api/blob/master/providers/eztv.js#L14) and [here](https://github.com/popcorn-official/popcorn-api/blob/master/providers/kat.js#L1

[2016-03-09 16:15] Richter-gh opened #10 "Please include required nodejs version in readme"
subj

[2016-03-09 16:19] cmd430 commented on #8
right that makes sense, yeah i should know the `.` is any single char

i'll put it down to the fact its 5am here and i have yet to sleep :)

[2016-03-09 17:03] Richter-gh opened #11 "ETTV api"
Would be amazing to have it alongside kat and eztv. Not asking anyone to do it, like, now, just a humble request for future(far future) releases

[2016-03-09 21:04] #10 closed, assigned to nobody

[2016-03-09 22:33] ChrisAlderson commented on #11
If you're talking about torrents with the 'ettv' tag, you can add those to the 'providers' in the 'config.js' file. If you're talking about 'extratorrent', probably not. If there is no good api in which we can get all needed information in a way which is reasonable to performance, I cannot see a way.

But we don't mind anyone who can prove us wrong on this.

[2016-03-10 04:47] cmd430 commented on #8
Ok, what about shows like [Last week tonight](https://eztv.ag/search/last-week) that have all but ~5 entries on EZTV in the S00xE00 format not being added to the API? the old (crappy) API had no issue with this? is there some way we can add the episodes that are in the S00xE00 format and ignore the others for now?

[2016-03-10 09:29] ChrisAlderson commented on #8
Because when there is one episode in the list which is 'dateBased', the entire show gets flagged as 'dateBased'. So the ''dateBased' property is not set on the episode, but on the show.
I believe this was also the case in the old API, but I would have to check.

[2016-03-10 14:35] cmd430 commented on #8
ok so i fixed it not adding shows with some datebased episodes (such as last week tonight) by changing

line 58 in helper.js from
`if (!isNaN(season_no)) {`
to
`if (!isNaN(season_no) && season_no.toString().length < 4) {`

this just filters out datebased seasons from shows marked as non datebased

[2016-03-10 14:38] #11 closed, assigned to nobody

[2016-03-10 15:42] raphcool12 opened #13 "tv show poster"
Hi notice that when we click on a tv show the frame of the poster is zoomming it's not really dramatic but its not very beautiful because didn't see the poster completly ex: when I click on arrow tv show only see is chest but the small view of the poster are ok It's just when we click on it  It's dosen't fit at all lol :)

thanks in advance  :)

[2016-03-11 10:40] ChrisAlderson commented on #13
This is an issue for [popcorn-desktop](https://github.com/popcorn-official/popcorn-desktop/issues/89), not the API.

[2016-03-11 10:40] #13 closed, assigned to nobody

[2016-03-12 00:03] BubbyWoodz opened #14 "Tv shows Are missing Seasons and Episodes"
Tv shows Are missing Seasons and Episodes Please Fix

[2016-03-12 13:15] ChrisAlderson commented on #14
It's hard to get everything from a show, but you are able to add 'providers' to the API in the `config.js` file.

[2016-03-12 13:15] #14 closed, assigned to nobody

[2016-03-12 13:42] #5 closed, assigned to ChrisAlderson

[2016-03-12 13:42] ChrisAlderson commented on #5
Fixed with #15

[2016-03-13 05:27] rodolfoamarques opened #16 "Problem running the API"
Hello!

I just downloaded the repo and tried to start the api. I am getting the following error:

Cron job started
EZTV: Starting scraping...
Error while scraping: Error: ETIMEDOUT with link: 'showlist/'

My steps:
I ran the code as stated in the readme file. Installed node 4.2.2 and installed mongodb via brew. Started mongodb and npm installed and started the api.

What am I doing wrong? Do I nee

[2016-03-13 07:35] cmd430 commented on #16
I get this also, try increasing the timeout from 2 to 4 in the config.js seems to have fixed it for me

[2016-03-13 13:17] ChrisAlderson commented on #16
Unless for whatever reason you cannot access EZTV.ag @cmd430 is right. Increasing the `webRequestTimeout` in the `config.js` file will solve this issue.

[2016-03-13 13:17] #16 closed, assigned to nobody

[2016-03-14 11:12] ChrisAlderson commented on #8
I'll put your fix into place, @cmd430.
I also tried to find a way to insert the dateBased episodes,  but since it's not possible to get the metadata from trakt in a convenient way I don't think it's possible. Therefor I'll change the labels on this issue from `bug` to `enhancement` and `help wanted`.

[2016-03-14 12:30] cmd430 commented on #8
I think I might have a solution for getting meta for datebased shows, I'll see what I can come up with

[2016-03-14 15:02] cmd430 commented on #8
OK, so i think if you can use the info from TVDB you can normalize the datebased into 0x0 based

using this url `http://thetvdb.com/?tab=seasonall&id=<tvdb_id>` (using the tvdb from trakt, [example 'the daily show'](http://thetvdb.com/?tab=seasonall&id=71256)) you can get the 0x0 from the 'Episode Number' column, by matching it with the Originally Aired column, this can then be used with trakt

Al

[2016-03-14 15:10] BubbyWoodz commented on #14
Hi thank you for the help I will look in the config

On Sat, Mar 12, 2016 at 5:15 AM, ChrisAlderson notifications@github.com
wrote:

##

_Have An Awesome Day,_

---

 /      \ |  \                |  \            |  \    |  \
|  $$$$$$| $$____    ______   \$$  _______  _| $$_    \$$  ______   _______
| $$   \$$| $$    \  /      \ |  \ /       |   $$ \  |  \ |      \ |       \
| $$      | $$$$$$$|

[2016-03-18 05:04] cmd430 opened #22 "Fix issue with branch 103"
@ChrisAlderson
Branch 103 is not adding any seasons/episodes to shows!

this fix is to add change `data.<thing>` to `data.episodes.<thing>`

here is the fixed code for `lib\eztv.js` specificly the function `getShowData` lines `86` to `101`

[code]

[2016-03-18 05:05] cmd430 commented on #22
if you want i can create a pull request

[2016-03-22 21:47] ChrisAlderson opened #25 "MongoDB sorting limitation"
MongoDB v3.2 has a sorting limit for 32MB ([as documented here](https://docs.mongodb.org/manual/reference/limits/#Sort-Operations)). This does become an issue with sorting on 'updated'. There is a fix for this issue for the other sorting options (name, rating, trending, year), this involves '[aggregation](https://docs.mongodb.org/manual/aggregation/)'.
Sadly I have not found a way to apply this fi

[2016-03-25 03:28] JHFreeman opened #27 "Scraper stalls after initial run"
when running this as a service on ubuntu, the scraper finds the initial shows and scrapes them all then never runs again. I'm not sure how to approach this problem, help would be appreciated.

[2016-03-28 03:22] cmd430 commented on #27
This bug was introduced when the cronjob was moved into utils.js as a function, i fixed it by moving it back into the index.js (not as a function) how it was before, i think its an issue with the job variable being removed by garbage collection, and so the cronjob has no task to run.

[2016-03-31 15:09] ghost opened #28 "Search"
Can Search be added back into the API? I planned on using it for a project but I discovered it was disabled.

Update: If possible, could the last updated API be reenabled again as well?

[2016-03-31 19:49] cmd430 commented on #28
It's still there use the `?sort=updated` and `?keywords=<your search here>` instead

Example `/shows/1?keywords=Game`

[2016-03-31 22:38] ghost commented on #28
Well I need more of an overall search like there previously was

[2016-04-01 00:28] cmd430 commented on #28
Search works in the same way, it returns pages of 50 results matching the keywords

what do you need it to do? or what was it doing before that its not doing now?

[2016-04-05 01:56] ghost commented on #28
I managed to come up with a solution using the `?keywords=<your search here>` option.

[2016-04-05 01:56] #28 closed, assigned to nobody

[2016-04-20 13:47] Richter-gh commented on #25
I deleted my comment because I thought I was wrong, but now I think an index based on unixtime of the updated date is the way to go.

[2016-05-04 02:17] NickStrupat opened #29 "Look within whole season torrents for individual episodes"
There are a lot of shows which don't have healthy torrents for each episode, but have at least one healthy torrent for each whole season. The show providers could be modified to search for common "whole season" torrent naming schemes. This should greatly increase the number of available shows, mostly those older than a year or two.

Examples
- Some Show - Seasons 1 Complete
- Show X - season one [

[2016-05-04 05:38] NickStrupat commented on #29
It looks like the `episode` objects just have a `torrent` property containing a magnet link, with the engine assuming the largest file in the metadata as the episode of the show. My proposed change would require adding an optional `filename` property to the `episode` objects, throught the stack, to track the individual episode files within a torrent which contains a whole season/series.

The `popc

[2016-05-04 12:46] ChrisAlderson commented on #29
It is an interesting idea which could be incorporated into the api. But I am not qualified to say if it is possible on the client side (`popcorn-desktop`), and if it is possible how big the impact would be.

[2016-05-04 20:25] NickStrupat commented on #29
Thanks for your reply.

Having the new `filename` property be optional would require minimal change on the client side. The client would just have an extra conditional block to check if `filename` property exists on the `episode` object, then stream that file instead of the current logic (again, only if the `filename` property exists.

I'll check out the client code (`popcorn-desktop`) a bit close

[2016-05-13 01:38] #2 closed, assigned to nobody

[2016-06-13 17:28] tgeorge91 opened #30 "Cannot start api"
Sorry if this is dumb, but I'm new to Mongo/NodeJs, etc. I am an experienced C# web developer though, so I _should_ be able to figure this out.

I cloned the repo to C:\Web\popcorn-api
Opened PowerShell (As Administrator) >

and I receive the error "node: bad option: --harmony_destructuring"

The full error is below and [npm-debug.txt](https://github.com/popcorn-official/popcorn-api/files/312368/n

[2016-06-13 18:45] tgeorge91 commented on #30
Got an email that someone replied, but they must have deleted it. But here's the answer to their question:

Node version 6.2.1
NPM version 3.9.3 EDIT: Updated to 3.9.5 - no change :(

[2016-06-13 20:40] tgeorge91 commented on #30
So I downgraded Node to 5.6.0 and it's now working. Not sure if this should stay open or not, since someone might want to fix this.

[2016-06-19 20:54] ChrisAlderson commented on #30
This issue will be fixed with the [v2](https://github.com/popcorn-official/popcorn-api/tree/v2) branch.

[2016-06-19 20:55] ChrisAlderson commented on #27
This issue will be fixed with the [v2](https://github.com/popcorn-official/popcorn-api/tree/v2) branch.

[2016-06-19 21:00] ChrisAlderson commented on #22
This fix has been introduced in v1.1.0, closing this issue and the PR.

[2016-06-19 21:00] #22 closed, assigned to nobody

[2016-06-26 10:29] ChrisAlderson commented on #30
Fixed as of 5d710b3d33ef1d0a0bf5cf11345b1043bb46fccc.

[2016-06-26 10:29] #30 closed, assigned to nobody

[2016-06-26 10:29] ChrisAlderson commented on #27
Fixed as of 5d710b3d33ef1d0a0bf5cf11345b1043bb46fccc.

[2016-06-26 10:29] #27 closed, assigned to nobody

[2016-06-26 10:30] ChrisAlderson commented on #7
Fixed as of 5d710b3d33ef1d0a0bf5cf11345b1043bb46fccc.

[2016-06-26 10:30] #7 closed, assigned to ChrisAlderson

[2016-08-02 20:08] ChrisAlderson opened #36 "Downloadable database"
Have a route which allows you download the content of the MongoDB database. This file should be a compressed, because I do not know how big the file will be. This file also needs to be easily imported back into the database or another database. This way different hosts hosting the API can profit from each other as they might have different content providers and/or kat providers. It would be nice i

[2016-08-02 20:47] ChrisAlderson commented on #36
Upon research the `mongoimport` and `mongoexport` can be used with the `executeCommand` of the `Util` class. But only seperate collections can be exported and imported.
- `mongoexport --db popcorn --collection shows --out shows.json`
- `mongoimport --db popcorn --collection shows --file shows.json --upsert`

The import will override the existing data from the database, so the import can also be do

[2016-08-02 21:31] ChrisAlderson opened #37 "Domain module is pending deprecation"
When a replacement API is finished the domain module will be deprecated. Will need to change from the domain module to the replacement API.

https://nodejs.org/api/domain.html

[2016-08-02 22:56] #25 closed, assigned to nobody

[2016-08-02 22:56] #36 closed, assigned to ChrisAlderson

[2016-08-11 16:21] ChrisAlderson commented on #8
I think I worked out this enhancement with TVDB like @cmd430 mentioned. Using the [node-tvdb](https://www.npmjs.com/package/node-tvdb) module with `getSeriesAllById` method. It basicly retrieves all the episodes they have and the episodes have a `FirstAired` property.

I'm working out the rough edges right now.

P.S.: Yea I know I'm really late to response to this issue.

[2016-08-13 17:31] axet opened #40 "&page=2 failed"
Hello!

I'm using api.torrentsapi.com (not sure if it yours or not) to show popcorn home page in my application (opensource) and it have broken paging functionality.

When you run simple request for 15 movies to see here is a lot to return, then try the same for 5 movies and page=2 it will return empty list;

http://api.torrentsapi.com/list?sort=seeds&count=15&page=2&keywords=game

[2016-08-13 17:56] ChrisAlderson commented on #40
I'm sorry, popcorn-api has no associations with the torrentsapi.

But I did try to find some documentation to help you, sadly found none. But I might have solved your issue. I think the issue is the `keywords` parameter. I changed it to `keyword` (with out the `s` at the end) and it seems to give results:

 http://api.torrentsapi.com/list?sort=seeds&count=15&page=2&keyword=game

I'm closing this i

[2016-08-13 17:56] #40 closed, assigned to nobody

[2016-08-13 18:00] axet commented on #40
Thank you. Results not for intended query "game", but recent movies. Paging for recent movies works.

Anyway would be nice to see http/json popcorntime api, I would like to use yours. Let me know if you going to release any.

[2016-08-13 18:09] ChrisAlderson commented on #40
Popcorn API does provide content for anime, movies and tv series. The host for movies is https://movies-v2.api-fetch.website/. And for any documentation on the API you can find it [here](https://popcorn-official.github.io/popcorn-api/) and [here](http://docs.popcornofficial.apiary.io/). If the documentation does not suffice I'm happy to answer any questions and clarify the documentation.

For inst

[2016-08-19 18:04] ChrisAlderson commented on #8
Should be fixed as of 72b90930c83256a461f8349802804f5489ccd233

[2016-08-19 18:04] #8 closed, assigned to nobody

[2016-08-23 19:14] jhches21 opened #43 "CLI error when adding a movie."
Did gulp build of the latest master (v2.2.0) and tried to invoke the CLI by -

`./popcorn-api.js -c movie`

After inputting all of information, the error pops up -

`An error occurred: ReferenceError: logger is not defined`

Backtracking through all codes, I figured it was due to the logger not being referenced in `moviehelper.js` Although I'm not too sure how I'm supposed to reference logger to s

[2016-08-23 19:36] ChrisAlderson commented on #43
You're most likely right. The CLI part of the API is the least robust part of it, but I'm already busy with some smaller patches for v2.2.1 so I'll try to include fixes for your issues.

[2016-08-23 19:37] jhches21 commented on #43
Okay, I'll more than happy to try and fix the rest of issue with CLI if I can find them.

As long I can fix them and still follow this project style guideline, I'll submit pull request.

[2016-08-23 19:40] ChrisAlderson commented on #43
Of course you are also welcome to do that.

[2016-08-24 17:58] ChrisAlderson commented on #43
This should be fixed in v2.2.1 (5373d4e45432a66aa975ccc0b11e419639e2add3) so I'm closing the issue, if I'm wrong feel free to re-open the issue.

[2016-08-24 17:58] #43 closed, assigned to nobody

[2016-10-22 14:59] MrRory opened #44 "Keywords search doesn't work perfectly"
`/movies/1?keywords=Independence%20Day:%20Resurgence` doesn't return any results. It's seems it is due to the `:`.

Oh, and maybe we could add searching for imdb key? Would make other things so much easier :)

[2016-10-22 15:51] ChrisAlderson commented on #44
I'll remove the special characters when searching then.

For the searching by imdb id we already have:
- [`/movies/{imdb_id}`](http://docs.popcornofficial.apiary.io/#reference/movie/get-details/details)

Or where you thinking along the lines of:
- `/moives/{page}?imdb_id={imdb_id}`

[2016-10-22 16:21] MrRory commented on #44
Oh that's true ofc. Removing the special chars when searching would work

[2016-10-22 16:36] MrRory opened #45 "Trakt.TV images API deprecation"
See https://apiblog.trakt.tv/trakt-api-images-56b43c356427

[2016-10-22 16:42] ChrisAlderson commented on #45
Already aware, I believe @vankasteelj would update his [`trakt.tv`](https://github.com/vankasteelj/trakt.tv) module to get the images from another source, but just to be sure I'll create a module for the [Fanart.tv API](http://docs.fanarttv.apiary.io/#) so we can use that.

[2016-10-22 16:43] ChrisAlderson commented on #44
So the search by imdb id is a non-issue then?

[2016-10-22 16:44] MrRory commented on #44
Yep, if everything uses the imdb id's in this API then it's already solved.

[2016-10-22 16:51] ChrisAlderson commented on #44
The anime series don't use the imdb id, they use an id from [HummingBird](). I could look into switching the metadata provider from HummingBird to Trakt.tv, but I don't know if Trakt.tv has many anime series in their database.

[2016-10-22 16:51] vankasteelj commented on #45
I won't update trakt.tv, except remove the images call and so on. The module rests entirely on trakt, so I won't start making calls elsewhere

However, if you wish, you may take a look at trakt.tv addons, like I did for onDeskToWatch and matcher, this way you should be able to interface easily trakt and fanart.tv.

In my tests on Butter, I used fanart.tv :

[code]

but it often answers badly (time

[2016-10-22 16:52] MrRory commented on #44
I was only referring to the movies :)

[2016-10-22 16:57] ChrisAlderson commented on #45
Alright thanks for the answer @vankasteelj.

[2016-10-22 17:27] #44 closed, assigned to ChrisAlderson

[2016-10-22 18:23] ChrisAlderson commented on #45
Got a [`fanart.tv-api`](https://github.com/ChrisAlderson/fanart.tv-api) module so now it's time to implement.

[2016-10-28 20:17] MrRory opened #46 "Some trailers not working"
For example the trailer for Finding Dory: http://tv-v2.api-fetch.website/movies/1?keywords=dory

The value is `"false"`, it being `null` or just `""` would be beter.

[2016-10-28 20:58] ChrisAlderson commented on #46
I'll change [this line](https://github.com/popcorn-official/popcorn-api/blob/master/src/providers/helpers/moviehelper.js#L149) from `false` to `null`.

[2016-10-28 21:00] MrRory commented on #46
let's hope the android app isn't going to break 😅

[2016-10-28 21:04] ChrisAlderson commented on #46
I can hold back this issue if you want. I can also give you steps to setup your own API for development and testing purposes.

[2016-10-28 21:10] MrRory commented on #46
probably `gulp build && node ./build/popcorn-api.js`?

I think it'll work, since it looks like the android code once depended on this being a youtube url, an empty string or `null`.

However, I'm not sure just changing that line to `null` will do it. Since the current response really gives `false` as string, that confuses me

[2016-10-28 21:23] ChrisAlderson commented on #46
I think I implemented the `false` value because of the 'old' YTS API, which was used by the android and desktop version, but I'm not sure. Either way I don't think I'll change this for 2.2.2 until the purposed change by you can work for the android version and the desktop version. I know Java is basically a wooden plank in terms of code flexibility compared to JavaScript. So I think it's good to t

[2016-10-28 21:23] ChrisAlderson commented on #46
@MrRory

A few things to install for the API are:
- NodeJS
- NPM (should be with NodeJS)
- Git (You are a dev, so you should already have this)
- MongoDB, the document based JSON database
- babel-node from `babel-cli` (npm module)

The simplest way to run the API is to follow the [installation]() instructions and then run `npm start`. I can give more personal details in if you contact me at chrisa

[2016-10-28 21:41] ChrisAlderson commented on #46
Also maybe the `false` value of 'trailer' gets converted to a String by Gson because the `Movie.java` model has a `trailer` property with a type of `string`. https://github.com/popcorn-official/popcorn-android/blob/development/base/src/main/java/butter/droid/base/providers/media/models/Movie.java#L31

[2016-10-31 11:31] #45 closed, assigned to ChrisAlderson

[2016-10-31 11:31] ChrisAlderson commented on #45
Fixed with: 85d46663afde77aa5351f465db783c0ed1c2f8c7

[2016-11-01 17:03] ghost opened #48 "Any possibility of taking tmdbid from Trakt?"
Since Trakt removed images yesterday, I noticed this API started pulling images from Fanart.tv. Because fanart uses arbitrary image urls, it is not possible to replace image size without making an API call directly to fanart (instead of replacing "original" with "thumb" or "medium" like you used to be able to when images were pulled from Trakt). This leads to extremely slow loading times as all th

[2016-11-01 18:18] ChrisAlderson commented on #48
It is something I can look into.

[2016-11-05 15:59] JimiC opened #49 "Issue with thumbnail images"
**Problem:**
Turns out that thumbnail images are mostly fetched from `fanart`. Unfortunately this service has a slow response time.

I have noticed that some images are trying to be fetched from `walter.trakt.us` and they fail because this service has been moved to `walter.trakt.tv`.

**Solution:**
Consider switching the image fetching to https://walter.trakt.tv/

[2016-11-05 16:02] JimiC commented on #49
Moved from https://github.com/popcorn-official/popcorn-desktop/issues/313

[2016-11-05 16:52] JimiC commented on #49
So I dived into the code to figure out how the images are fetched.

I figured that all images are fetched from `fanart.tv` with a fallback to `thetvdb.com`.
Now, reading on how `trakt.tv` [gets its images](https://apiblog.trakt.tv/how-to-find-the-best-images-516045bcc3b6), (and I chose Trakt because most of popcorn users use it), they use the following order:
1. TMDB
2. TVDB (only for shows)
3. FA

[2016-11-09 21:29] ChrisAlderson commented on #49
Take the discussion to: https://github.com/popcorn-official/popcorn-api/issues/49

[2016-11-09 21:31] JimiC commented on #49
@ChrisAlderson This is #49.

[2016-11-09 21:32] ChrisAlderson commented on #49
Derp

[2016-11-09 22:15] voddan commented on #49
Note that this issue seems to affect mostly anime titles: [#326](https://github.com/popcorn-official/popcorn-desktop/issues/326)

[2016-11-09 22:17] JimiC commented on #49
It's related as it has to do with the source popcorn is fetching the poster for each title.

[2016-11-14 08:35] momo82 commented on #49
It looks like _fanart.tv_  restricts traffic by region . Thumbnails stopped working for me recently ( only Anime tab thumbnails are working ). They only work (very slowly ) when I use an American proxy server .

I'm using the latest 64bit build from Jenkins , and I'm located in Syria .

[2016-11-17 00:27] vzamanillo commented on #46
This change does not brake the Android codebase, and I am completely agree with the change, in order or preference, a null or empty value is better

[2016-11-17 12:45] vzamanillo opened #51 "Use JSON array instead objects only"
We are using objects only for responses with variable key names, this difficults the parsing process and the model definition (we are forced to use any getter or any setter annotations), an example for common `torrents`:

[code]

we should use an appropiate format like this

[code]
Obviously, this will cause an impact in the desktop and Android app response treatment.

[2016-11-19 10:12] team-pct opened #52 "Status page"
I would like to suggest a /status endpoint and move the info from / to it ?

[2016-11-19 14:10] ChrisAlderson opened #54 "`seed` to `seeds` and `peer` to `peers` for Movies"
Purposeful from @vzamanillo:

https://github.com/popcorn-official/popcorn-android/pull/76#issuecomment-261005863

[2016-11-19 14:15] ChrisAlderson commented on #46
The default value for `trailer` will be `null`: a89a1027436b76f3c671764d90b186518634b421

[2016-11-19 14:15] #46 closed, assigned to ChrisAlderson

[2016-11-19 14:17] ChrisAlderson commented on #49
Order of fallback for movies:
- tvdb
- omdb
- fantart.tv

Order of fallback for shows:
- tvdb
- tvdb
- fanart.tv

1a8b8f3fccc4f73199137ca5615a743c6c48fa85

[2016-11-19 14:18] ChrisAlderson commented on #48
https://github.com/popcorn-official/popcorn-api/issues/49#issuecomment-261716369

[2016-11-19 14:18] #48 closed, assigned to ChrisAlderson

[2016-11-19 14:18] ChrisAlderson commented on #52
Done as purposed: 2011bdea6e446e7b3eb55ca0d868ed808d86a852

[2016-11-19 14:18] #52 closed, assigned to ChrisAlderson

[2016-11-19 14:24] JimiC commented on #49
Just to clarify @ChrisAlderson comment.

[2016-11-19 14:26] ChrisAlderson commented on #49
ordered list unordered list, top to bottom you get it.

[2016-11-19 14:28] JimiC commented on #49
@ChrisAlderson Just a suggestion to better handle the fallback.
Currently the way the fallback is coded, the next provider is used only if the current provider is unreachable, and not if the image is not found.

Maybe you want to reconsider the logic of the fallback.

[2016-11-19 14:30] team-pct commented on #49
@JimiC Can you send PR ? i will need @ChrisAlderson to work on structure ASAP 🎱

[2016-11-19 14:31] JimiC commented on #49
@team-pct Sure I could do that.

[2016-11-19 14:31] team-pct commented on #49
Really Great that you are just Shy ! Don't be

[2016-11-19 15:07] JimiC commented on #49
@team-pct Will start working on it as soon as @ChrisAlderson PR gets merged.

[2016-11-19 17:00] team-pct commented on #49
@JimiC merged

[2016-11-19 17:10] ChrisAlderson commented on #51
Is this specific to movies or also for shows and anime?

[2016-11-19 17:11] ChrisAlderson commented on #54
e2638cf124e97bc7cb58dded797a187d908c90a7

[2016-11-19 17:11] #54 closed, assigned to ChrisAlderson

[2016-11-19 17:18] team-pct commented on #51
I guess if we are doing it we do it for all

[2016-11-19 23:24] vzamanillo commented on #51
@ChrisAlderson The comon torrent object has qualities as keys

[Comon Torrents object](https://github.com/vzamanillo/popcorn-android/blob/base-revision/base/src/main/java/butter/droid/base/providers/media/response/models/common/Torrents.java)

for movies has languages
[
Movie Torrents object](https://github.com/vzamanillo/popcorn-android/blob/base-revision/base/src/main/java/butter/droid/base/prov

[2016-11-20 11:52] voddan commented on #49
@team-pct what branch was it merged into? At what commit?

I can't see the difference in behaviour on `master` :(

[2016-11-20 11:56] JimiC commented on #49
https://github.com/popcorn-official/popcorn-api/pull/55 `development` -> `master`

The commit is linked in @ChrisAlderson comment.

[2016-11-20 12:45] voddan commented on #49
I see, thanks!

Was it supposed to resolve the problem I mentioned earlier at https://github.com/popcorn-official/popcorn-api/issues/49#issuecomment-259542451?
I don't notice any changes. Does it work for you?

[2016-11-20 13:01] JimiC commented on #49
Actually it does.
Anime images are fetched from [Hummingbird](https://hummingbird.me/), so if you still experience issues check that your machine isn't blocking it.
![screen shot 11-20-16 at 02 58 pm](https://cloud.githubusercontent.com/assets/1716442/20462978/0c915e6c-af32-11e6-9a78-0e309ba28247.PNG)

[2016-11-20 13:29] voddan commented on #49
@JimiC you are right, I wasn't able to go to https://hummingbird.me/ without a VPN (I work from Russia).

The error in my browser (chrome) was:

Is there a way to fix that except for a system-wide VPN?

[2016-11-20 13:34] JimiC commented on #49
Probably the certificate of `Humminbird` your chrome is using has expired.

Clearing the [SSL state](https://www.a2hosting.com/kb/getting-started-guide/internet-and-networking/clearing-a-web-browsers-ssl-state) might help.

[2016-11-20 13:49] JimiC commented on #49
@team-pct This is not an issue with `popcorn-api`.

[2016-11-20 13:52] #49 closed, assigned to ChrisAlderson

[2016-11-20 13:52] team-pct commented on #49
Thank you @JimiC

[2016-11-20 15:34] momo82 commented on #49
The issue is solved in the latest build .

Thank you .

[2016-11-20 15:59] voddan commented on #49
@JimiC unfortunately clearing the chrome's SSLs did not help. But anyway this is PCT that I care about, not Chrome. I guess PCT must use system's SSL certificates, but my Mac KeyChain contains nothing out of order. What might be the issue here?

[2016-11-20 16:17] JimiC commented on #49
Beats me.
Correct me if I'm wrong but I think PCT is using V8 engine (same as Chrome). So if you can make your Chrome browse to Hummingbird when PCT will too.

[2016-11-20 19:09] voddan commented on #49
@JimiC AFAIU, it depends not on the js engine, but on the security policy. For some reason https://hummingbird.me/ requests an (optional) client SSL certificate, which (many?) computers do no have.

I believe a client may choose to ignore this and connect without a certificate. This is usually the case with Chrome, but not on my machine (OS X 10.11.6).

Maybe it is possible to make PCT ignore the

[2016-11-20 20:01] JimiC commented on #49
@voddan Unfortunately even trying to connect to `http://hummingbird.me` redirects to `https`. I don't believe that there is something more the team can do about it. I would really appreciated if  @ChrisAlderson could give us his insight.

[2016-11-21 09:09] popcornenthusiast opened #57 "Retrieve the number of votes from Trakt.tv and add it to the API"
This way, by excluding content with low number of votes, a better sorting by ratings would be possible.

See [issue 358](https://github.com/popcorn-official/popcorn-desktop/issues/358) on popcorn-desktop.

[2016-11-21 14:06] ChrisAlderson commented on #57
This is already done.

[2016-11-21 14:06] #57 closed, assigned to nobody

[2016-11-21 14:39] champier opened #58 "Add content manually through the CLI"
How can i do this ???

Its possible just to show only contend that i have added ?

King Regards

[2016-11-21 16:20] team-pct commented on #58
` $ npm run server                       # Run Popcorn API, but do not start the scraping process.`
to add content popcorn-api --content <type>         # Add content to the database.

[2016-11-21 16:20] #58 closed, assigned to nobody

[2016-11-21 17:09] champier commented on #58
{"name":"popcorn-api","pid":9372,"level":"error","msg":"uncaughtException: failed to connect to server [localhost:27017] on first connect","time":"2016-11-21T17:02:58.662Z"}

Im getting this error  :(

[2016-11-21 17:09] champier commented on #58
![image](https://cloud.githubusercontent.com/assets/15213215/20492611/0a2a13fc-b01e-11e6-8704-f626f303a15f.png)

[2016-11-21 17:10] team-pct commented on #58
`Install MongoDB including mongoexport and mongoimport.
Install NodeJS (at least Node v6.3.0 or greater).
Clone the repository with: git clone https://github.com/popcorn-official/popcorn-api.git.
Install gulp globally with [sudo] npm install -g gulp.
Install dependencies of Popcorn API with cd popcorn-api and npm install.
Build the ES5 code with gulp build.`

You have no MongoDb Installed

[2016-11-21 17:48] champier commented on #58
![image](https://cloud.githubusercontent.com/assets/15213215/20493930/68ca5f0c-b023-11e6-865c-fbbfce12d31e.png)

now installed...

[2016-11-21 17:49] champier commented on #58
Whats te comand to add???

![image](https://cloud.githubusercontent.com/assets/15213215/20493996/aa62c1d4-b023-11e6-9948-83f8eca0f81a.png)

[2016-11-21 18:15] team-pct commented on #58
to add content` popcorn-api.js --content` # Add content to the database

Please make some effort to read manual i cannot help you all the time

[2016-11-22 05:27] popcornenthusiast commented on #57
Oh, I'm sorry, my mistake.

[2016-11-22 05:29] popcornenthusiast opened #59 "Add to the API how many seasons a tv show has and how many are available through the API"
Right now the API uses "num_seasons" to tell how many seasons of a certain show are available through the API, but this is quite confusing and definitely misleading when seen on PT. This way, would be better to use "num_seasons" to tell how many seasons a certain show has and create "avail_seasons" to tell how many seasons are available through the API.

See [issue 364](https://github.com/popcorn-

[2016-11-24 08:53] champier opened #60 "How to put online ?"
How can i host and put online this API?

E.G:

http://XXX.com/movies

King Regards

[2016-11-24 08:54] champier commented on #58
Thanks ...

Sorry  for asking all the time !

[2016-11-24 08:55] ChrisAlderson commented on #60
Google.

[2016-11-24 08:55] #60 closed, assigned to nobody

[2016-11-26 19:49] #59 closed, assigned to nobody

[2016-11-26 21:58] popcornenthusiast commented on #59
Why was this issue closed and labeled as "wontfix"?

[2016-11-27 07:10] vipulasri opened #61 "Movies and tv shows from Bollywood not available"
Movies and TV Shows from Bollywood not available. I tried searching it too.

[2016-11-27 07:31] ChrisAlderson commented on #61
The default configuration of the API focuses more on western content (apart from anime). If you want Bollywood content then you can change the default configuration and run your own instance of this API. For this I'll refer to the [manual](https://popcorn-official.github.io/popcorn-api/manual/index.html).

[2016-11-27 07:32] #61 closed, assigned to nobody

[2016-11-29 17:05] team-pct opened #62 "Adding Extra Provider for different language"
If we can have some provider from extra torrent maybe that scrap Spanish / French Movies to start with

[2016-11-29 20:37] champier opened #63 "Not Showing Movies"
when i put the http://localhost:5000/ in the movies API...

Dont show noting !

PS: Works fine in the Shows Section ....

[2016-11-29 20:37] champier commented on #63
![image](https://cloud.githubusercontent.com/assets/15213215/20728015/73be0bd6-b684-11e6-81da-4a601becb051.png)

[2016-11-29 20:38] champier commented on #63
![image](https://cloud.githubusercontent.com/assets/15213215/20728039/9653dbf8-b684-11e6-91c0-0ac68ac46ee9.png)

[2016-11-29 20:40] champier commented on #63
![image](https://cloud.githubusercontent.com/assets/15213215/20728072/c195b9bc-b684-11e6-824b-4432f578c474.png)

[2016-11-29 20:43] ChrisAlderson commented on #63
Are you using the correct [butter-provider](https://github.com/ChrisAlderson/butter-provider-movies), it is configured in the [package.json](https://github.com/popcorn-official/popcorn-desktop/blob/development/package.json#L43) file.

[2016-11-30 10:53] team-pct commented on #63
He is using the .ag version

[2016-11-30 10:53] #63 closed, assigned to nobody

[2016-11-30 12:00] champier commented on #63
But .sh version dont work for Linux !!!

[2016-12-01 06:47] team-pct commented on #63
And We CANt Help for other forks , you should open issue on their Github , Good luck

[2016-12-01 11:39] champier opened #64 "Insert the http://127.0.0.1:5000"
Hi,

in the version of the popcorntime.sh , where a insert the http:127.0.0.1 for fetching the content ?

King Regards

[2016-12-01 12:19] ChrisAlderson commented on #64
Here: https://github.com/popcorn-official/butter-settings-popcorn

[2016-12-01 12:19] #64 closed, assigned to nobody

[2016-12-02 15:38] woutcam opened #65 "build #236 Close button not working"
On the #236 build of popcorn time, the close button on top right after watching a serie or movie does not do anything, making it impossible to close the window, forcing you to force close popcorn time and restart it to watch something else.

[2016-12-02 15:40] woutcam opened #66 "Incremental updates"
When updating popcorn time using the builds provided on ci.popcorntime.sh, the installer always completely wipes out the old popcorn time folders including user data making you lose your favorites and seen markers.

I would propose to just update what has changed and to never delete the user data folder.

[2016-12-02 16:01] ChrisAlderson commented on #65
This issue has nothing to do with the API.

[2016-12-02 16:01] #65 closed, assigned to nobody

[2016-12-02 16:01] ChrisAlderson commented on #66
This issue has nothing to do with the API and the CI build are not stable and are meant for testing purposes. They are often unstable.

[2016-12-02 16:01] #66 closed, assigned to nobody

[2016-12-07 13:21] popcornenthusiast opened #68 "Add to the API how many seasons a tv show has and how many are available through the API"
See issues [389](https://github.com/popcorn-official/popcorn-desktop/issues/389) and [392](https://github.com/popcorn-official/popcorn-desktop/issues/392) on popcorn-desktop.

Right now the API uses "num_seasons" to tell how many seasons of a certain show are available through the API, but this is quite confusing and definitely misleading when seen on PT. This way, would be better to use "num_seas

[2016-12-08 09:14] Persei08 commented on #68
How do you think it should work?
Sometimes seasons are incomplete (South Park season 13, Heroes season 2), should it be count when a season is incomplete?
It's better to choose yes because if not, sometimes it's look like an episode is missing but in fact season is complete, it's just because episode numbers are changed (The Strain season 3, Battlebots season 2).
But if they choose yes, maybe some

[2016-12-24 19:26] #68 closed, assigned to nobody

[2016-12-25 23:24] ghost opened #70 "Movie/TV Show search term not working for all strings"
Hello there,

recently the API seems to be having some trouble handling all search terms, for example, searching for only 1 character always works, 2 almost never works, but searching for the entire name always works, so for example:

[code]
This seems to affect not only PopcornTime's search feature, but also the API results directly.

[2016-12-25 23:28] ChrisAlderson commented on #70
The API doesn't search for characters, it searches for keywords. in `Marvel's Agents of S.H.I.E.L.D.` The `S` is seen as a keyword. `su` won't return anything since there is no title with a keywords that matches `su`. `super` will return items (example `Super Fun Night`) since it does have the keyword `super` in it.

So in short this is expected behaviour.

[2016-12-25 23:28] #70 closed, assigned to nobody

[2016-12-26 11:32] ghost commented on #70
Hmm interesting, was it always like this? Because I remember it used to behave like a search feature.

[2016-12-26 11:47] ChrisAlderson commented on #70
This has always been this way.

[2016-12-29 17:42] ChrisAlderson opened #71 "change the type field value for anime"
Type for `anime` content needs to be changed from `show` to `tvshow` inside the database.

[code]

[2016-12-30 01:08] RefusedFlow opened #72 "Several genre's aren't working as expected"
There are a several genre's listed in the documentation which don't function on the movies API, will these be re-intergraded or removed?

Examples
- Disaster
- Fan Film
- Holiday
- Indie

[2016-12-30 11:58] ChrisAlderson commented on #72
Looks like there are no movies with those genres in the database atm, so filtering with those genres would return an empty array. Now this does not mean there can't be movies in the future that will have any one of those genres, but since the addition of content is done automatically I can't tell when that is.

I don't see a reason to remove these genres as they are based on the genres of the [met

[2016-12-30 11:58] #72 closed, assigned to nobody

[2017-01-03 18:53] Evhelden opened #73 "API for Conan, Daily Show, Jimmy Fallon and some others daily evening shows do not work"
Hi,
I am a fan of the Apple TV PopcornTV version and use it with pleasure. The makers (alias FlavioBondJamesBondsHusband) redirect me to this forum. Currently the above mentioned shows seem not to have any episodes. In the desktop version and Butter CE version these shows can be streamed without problems, but not in the PopCornTV app. It seems there is an API issue?

Could you fix this, so I can g

[2017-01-03 19:23] ChrisAlderson commented on #73
https://github.com/PopcornTimeTV/PopcornTimeTV/issues/288#issuecomment-270199719

[2017-01-03 20:54] ghost commented on #73
@ChrisAlderson It seems it is an issue with us but it is as a result of the API. For example: https://tv-v2.api-fetch.website/show/tt3444938 marks the "episode", "season" and "tvdb_id" parameters as `String`s whereas on almost all other shows (eg: https://tv-v2.api-fetch.website/show/tt1442437), they are `Int`s. This may not be an issue in the desktop client as it is written in JS (weakly typed la

[2017-01-04 07:16] Evhelden commented on #73
@Chris: Do you think this is a quick solution for you?

Erwin

[2017-01-29 00:37] ghost opened #74 "Unparsed '&amp;' (&)"
Some movie/episode/show's have unparsed ampersands in string variables. Not sure if this is a bug or if it is done on purpose as the desktop app displays it correctly.

[2017-02-15 15:14] roonie007 opened #76 "a lot of Seasons and Episodes are missing"
Hello , there is a lot of seasons and episodes missing in the API like season 1 does not even exist in Game of thrones and others

[2017-02-22 21:48] ChrisAlderson commented on #74
It's done on purpose, the metadata is gathered from the [trakt.tv](https://trakt.tv/) API.

[2017-02-22 21:48] #74 closed, assigned to nobody

[2017-02-22 21:50] ChrisAlderson commented on #76
We don't upload the content. The content gets collected via various sources with an algorithm, if the sources don't have the content you are looking for use the Torrent Collection.

[2017-02-22 21:50] #76 closed, assigned to nobody

[2017-02-22 21:53] ChrisAlderson commented on #51
Won't fix since the [butter-providers](https://github.com/butterproviders/butter-provider) specs have advanced to use the the current form of torrents.

[2017-02-22 21:53] #51 closed, assigned to ChrisAlderson

[2017-02-28 08:57] ghost opened #77 "Export Animes/Shows/Movies routes through Apiary respond with status 500"
The export route has been working for a while but now responds with status 500 and this body:

`{
  "error": "Error: no such file found for '/root/chris/popcorn-api/tmp/animes.json'"
}`

[2017-02-28 09:31] ghost commented on #77
Seems to be back working now. Closing issue.

[2017-02-28 09:31] #77 closed, assigned to nobody

[2017-03-07 12:47] g-bon opened #78 "Search api works on exact words only"
This is a suggestion for a possible improvement.
Search API for both movie and series returns results for exact matches on words contained in the search query.

As an example querying for '_simpson_' returns no results while querying for '_simpsons_' does.

I reckon it would be a good improvement to include search results where the search string is **contained** as opposed to an **exact match** to

[2017-06-27 19:35] DeepSpace2 opened #82 "GET /movie/{imdb_id} returns an empty response for some imdb ids"
Empty responses are usually returned for imdb_ids that don't exist on popcorn.

But sometimes empty responses are returned for an existing imdb_id, for example tt1469304.

This is reproducible from the docs page (https://popcorntime.api-docs.io/api/movie) and directly from the browser:<br> https://tv-v2.api-fetch.website/movie/tt1469304

[2017-07-05 20:41] #78 closed, assigned to nobody

[2017-07-05 20:45] ChrisAlderson commented on #82
Can confirm this issues.

I'll most likely make it return `null` in the next version or return a `HTTP 204 NO CONTENT`.

[2017-07-05 20:53] DeepSpace2 commented on #82
Thanks but isn't there a bigger issue here? Why don't we get the same response for all valid requests?

[2017-07-05 21:02] ChrisAlderson commented on #82
Your request to `https://tv-v2.api-fetch.website/movie/tt1469304` is valid. The issue is here is id `tt1469304` does not exist in the database and mongoose will just return nothing. You can see the method fired by this route [here](https://github.com/popcorn-official/popcorn-api/blob/development/src/controllers/MovieController.js#L134).

[2017-07-17 13:34] hayzamjs commented on #29
Hey Nick,

Did you manage to do it?

[2017-08-01 15:08] TriPSs opened #84 "Episode and season images"
Hi, is it possible to also return images for episodes and seasons? The Movie DB has a poster for each season and video stills for episodes.

If not, is it then possible to add the id of The Movie DB to the API response? Trakt does return this.

[2017-08-01 22:32] ChrisAlderson commented on #84
I will have to look deeper into this issue, but for now this is what I think:

Depends on what The Movie DB gives us. If they allow for us to fetch the images in bulk, meaning getting multiple season or episode images in one request then it's probably possible. But if a request has to be send for each season or episode then I would say no.

I can add the id of The Movie DB to the object returned b

[2017-08-02 05:32] TriPSs commented on #84
@ChrisAlderson Thanks for the explanation!

With The Movie DB you indeed have to make a call for each season to get the video stills of the episodes and the season poster.

[2017-08-06 19:19] harshsavasil commented on #6
is anyone working on it ?

[2017-09-10 11:50] iovis opened #87 ""filesize" key not present in TV Shows torrents"
Is there a reason why `filesize` is present in movies and not in shows?

Movie example:
[code]

Show example:
[code]

[2017-09-10 22:08] ChrisAlderson commented on #87
This project is partially based on the requirements of [Butter](https://github.com/butterproject/butter-desktop) which uses the [butter-providers](https://github.com/butterproviders/butter-provider) for it's content gathering. [Their documentation](https://github.com/butterproviders/butter-provider#torrents-object) (full disclosure, I've also worked on it), says the `filesize` is optional.

[2017-09-11 09:41] iovis commented on #87
Cool, thanks!

[2017-09-14 17:12] xdk78 opened #88 "Nyaa api don't working"
Hi, https://github.com/popcorn-official/popcorn-api/blob/development/src/providers/anime/Nyaa.js
this don't working, because `nyaa-api-pt` can't connect to nyaa.se - site not found, so
I wrote https://github.com/xdk78/pantsu-api working nyaa api using nyaa.pantsu.cat, it might be helpful

[2017-09-14 20:13] ChrisAlderson commented on #88
https://github.com/ChrisAlderson/nyaa-api-pt/tree/2.0.0-alpha.0

[2017-09-14 20:18] xdk78 commented on #88
Ok

[2017-09-28 15:48] #88 closed, assigned to nobody

[2017-10-13 20:09] #87 closed, assigned to nobody

[2017-10-13 21:08] ChrisAlderson opened #89 "Update models"
What needs to be a collection and what doesn't

[2017-10-13 21:09] ChrisAlderson opened #90 "Implement ContentService tests"

[2017-10-13 21:11] ChrisAlderson opened #91 "Implement CLI tests"

[2017-10-13 21:13] ChrisAlderson opened #92 "Implement Provider tests"

[2017-10-13 21:13] ChrisAlderson opened #93 "Implement Helper tests"

[2017-10-13 21:15] ChrisAlderson opened #94 "Add support for GitLab CI"

[2017-10-14 13:21] ChrisAlderson opened #95 "Use Map class for _getAllContent"
Replace the array with a `Map`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

[2017-10-14 14:12] ChrisAlderson opened #96 "Replace async-q with p-map and p-times"

[2017-11-26 17:59] jakewaterman51 opened #97 "Similar movies and tv shows?"
Themoviedb has a built in way to do this but the only way to verify popcorn api has all the same results is with additional requests which would be slow. It would be much faster for you guys to locally check the similar results before returning them

[2017-11-26 18:00] jakewaterman51 commented on #97
?append_to_response=similar

[2017-11-29 14:01] jakewaterman51 commented on #97
Trakt also seems to have an option: https://api.trakt.tv/movies/{id}/related

[2017-12-05 01:11] ArthurSampaio commented on #93
Hi @ChrisAlderson, can you be more specific about who entity need be tested?

[2017-12-05 07:30] ChrisAlderson commented on #93
The [`MovieHelper`](https://coveralls.io/builds/14161871/source?filename=src%2Fscraper%2Fhelpers%2FMovieHelper.js) and [`ShowHelper`](https://coveralls.io/builds/14161871/source?filename=src%2Fscraper%2Fhelpers%2FShowHelper.js) classes need to be further tested. They are difficult to test since those classes are pretty complex so maybe it's best to rewrite them first before implementing more test

[2017-12-05 11:20] ArthurSampaio commented on #93
Ok, i want do this. Do you have any tip for the refactor of this entities? and do you indicate any design pattern for unit test?

[2017-12-05 12:46] ChrisAlderson commented on #93
You can refactor the complex parts into seperate methods to reduce the complexity. An ESLint rule you could add only for testing purposes would be the [`complexity`](https://eslint.org/docs/rules/complexity) rule.

As for the unittests:
 - Treat describe as a noun or situation.
 - Treat it as a statement about state or how an operation changes state.

[2017-12-26 22:02] #94 closed, assigned to ChrisAlderson

[2017-12-26 22:02] #89 closed, assigned to ChrisAlderson

[2017-12-26 22:02] #91 closed, assigned to ChrisAlderson

[2017-12-26 22:02] #90 closed, assigned to ChrisAlderson

[2017-12-26 22:02] #92 closed, assigned to ChrisAlderson

[2017-12-26 22:03] #96 closed, assigned to ChrisAlderson

[2017-12-26 22:03] #37 closed, assigned to nobody

[2017-12-26 22:40] ChrisAlderson opened #98 "Implement standard-version"
https://github.com/conventional-changelog/standard-version

[2017-12-26 22:40] ChrisAlderson opened #99 "Add issue and pr template"

[2017-12-26 22:41] ChrisAlderson opened #100 "Make master the default branch"

[2017-12-26 22:48] ChrisAlderson opened #101 "Add support for windows with appveyor"

[2017-12-26 22:49] #95 closed, assigned to ChrisAlderson

[2017-12-26 22:51] ChrisAlderson opened #102 "Update contributing document"

[2017-12-26 22:53] ChrisAlderson opened #103 "Update changelog format for standard-version"

[2017-12-26 22:55] ChrisAlderson opened #104 "Build with rollup"
https://rollupjs.org/

[2017-12-26 23:00] ChrisAlderson opened #105 "Rewrite documentation"
- [ ] Document routes
 - [ ] Refer back to `pop-api` for Cli, Database, HttpServer, Routes and Logging
 - [ ] Refer back to `pop-api-scraper` for Providers
 - [ ] `confiruation.md`

[2017-12-26 23:24] ChrisAlderson opened #106 "Replace chai-http with supertest"

[2017-12-27 14:10] #104 closed, assigned to nobody

[2017-12-27 14:10] #106 closed, assigned to nobody

[2017-12-27 14:10] #99 closed, assigned to nobody

[2017-12-27 14:10] #98 closed, assigned to nobody

[2017-12-27 17:17] #101 closed, assigned to nobody

[2017-12-27 17:22] #102 closed, assigned to nobody

[2018-01-01 12:57] #103 closed, assigned to nobody

[2018-01-01 16:22] #93 closed, assigned to ChrisAlderson

[2018-01-01 16:23] #71 closed, assigned to ChrisAlderson

[2018-01-01 16:55] #73 closed, assigned to nobody

[2018-01-01 16:55] #82 closed, assigned to nobody

[2018-01-01 18:24] ChrisAlderson opened #109 "Remove mentions of ProviderConfig"

[2018-01-01 18:35] ChrisAlderson commented on #105
Also update example models in:
 - [ ] `examples.md`
 - [ ] `apiary.apib`
 - [ ] `test/data`

[2018-01-01 23:58] ChrisAlderson opened #110 "Improve quality of the test cases"
- [ ] More `expect` statements
 - [ ] Better/less duplicate `it` statements

[2018-01-02 07:36] Evhelden commented on #73
Hi,

As I am currently traveling, I can’t test the solution.

Did it work out?

Thanks for all the support!

Kind Regards / Vriendelijke groet,

Erwin van Helden

[2018-01-14 18:15] D3MZ opened #111 "Foreign Show Support"
Bollywood's film industry is twice the size of Hollywood. Might be worth expanding the breadth of popcorn time to gain more adoption to it. Also I believe it's outside of MPAA's focus so trackers should be alive longer.

[2018-02-25 16:23] mourke opened #112 ""Seed" and "Peer" in movies, "Seeds" and "Peers" in episodes"
In two separate torrent models, the keys for peers and seeds are different. Could change the movie one to "Seeds" and "Peers" to improve uniformity?

[2018-02-25 16:25] mourke opened #113 "Add tmdb_id to movies"
Could you add a tmdb id to movies like in shows: #86

[2018-03-06 18:41] nikith050 opened #114 "The imdb id of the show/movie to add (tt1234567)"
when i try to start the server i get this message `? The imdb id of the show/movie to add (tt1234567)

![image](https://user-images.githubusercontent.com/15609899/37052714-17ca2912-21a0-11e8-919b-97c8a0346619.png)

[2018-03-10 15:52] zero77 opened #115 "[Request] Protocol Encryption"
Can you please add support for protocol encryption and enable it by default, because to my knowledge all popular torrent clients have this.

Thanks

[2018-03-10 16:28] ChrisAlderson commented on #115
This ain't even a torrent client. Don't spam these issues.

[2018-03-10 16:28] #115 closed, assigned to nobody

[2018-03-27 21:52] channelup69 opened #116 "Search by TV Network? Is it possible?"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-05-04 05:13] adsonic commented on #84
Hey there
I am just wondering why the collection of the movies or TV shows in popcorn time difference by platform?? For example TV show (Handmaids Tale) season 2 Available on android by not available on api ?

Thanks

[2018-05-04 05:15] adsonic opened #117 "Some TV shows not available"
Hey there
I am just wondering why the collection of the movies or TV shows in popcorn time difference by platform?? For example TV show (Handmaids Tale) season 2 Available on android by not available on api ?

Thanks

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-05-04 06:11] ChrisAlderson commented on #117
If it's not in the api it's not in the android or desktop version. So I'm not sure which android version you are using.

![screenshot_popcorn_time_20180504-080939](https://user-images.githubusercontent.com/17688012/39614776-b3da38b0-4f72-11e8-9a8b-b3fabeacfccd.png)

[2018-05-04 06:11] #117 closed, assigned to nobody

[2018-05-04 06:57] adsonic commented on #117
Appreciate your quick reply I am using version 3.0.0 on android and Also I am using version 3.2.17 on Apple TV (api) what I am saying TV series HANDMAIDS TALE season 2 available on android but its not available on apple TV.

[2018-05-04 11:28] adsonic opened #118 "Handmaids Tale not season 2 Not available on api"
Why Handmaids Tale season 2 not Available on popcorn time (api) I am using the popcorn version (3.2.17) on Apple TV. But season 2 Available on popcoron time for android (version 3.0.0).

[2018-05-04 12:54] ChrisAlderson commented on #118
popcorntime.sh does not have an official version for the AppleTV. Ergo I cannot tell if the AppleTV version you are using is using this API. Secondly there is no version `3.0.0` for the android version of popcorntime.sh. The same case with AppleTV; I cannot tell if the android version you are using is using this API. Lastly GitHub isn't the place for requests of content to be added or to ask gener

[2018-05-04 12:54] #118 closed, assigned to nobody

[2018-05-14 14:10] jakewaterman51 opened #119 "The Handmaid's Tale and Steven Universe are not being updated..."
eztv.ag shows many episodes that aren't showing up in the api :(

[2018-05-14 14:12] ChrisAlderson commented on #119
Popcorn Time doesn't host any of the content. The content on Popcorn Time is pulled off third party sources. If you want to watch content which isn't available via Popcorn Time you can use the Torrent Collection feature.

[2018-05-14 14:12] #119 closed, assigned to nobody

[2018-05-14 14:14] jakewaterman51 commented on #119
@ChrisAlderson I'm not using Popcorn Time. I'm directly searching your api which I thought collected it's tv data from eztv.ag?

Where can I submit the latest seasons to have them show up in the "popcorn api"?

[2018-05-14 14:19] jakewaterman51 commented on #119
Is the "scraper" failing to pick up on these episodes?

[2018-05-14 14:38] jakewaterman51 opened #120 "Include themoviedb ids and cast / credits?"
I'm currently manually using "themoviedb" to make 2 request:
1. Convert the IMDB ID to a TMDB ID.
2. Use the TMDB ID to get the directors, writers, creators & cast etc...

Each request takes over a second so it really adds up.

There's no way around that first request but the second one I can do in parallel with the popcorn api request so it's not really a problem.

Alternatively also adding the `

[2018-05-15 12:46] Persei08 commented on #119
No, it work as intended. The missing episodes have tv show value set to "Other TV Shows" instead of "The Handmaid's Tale".

Else contact eztv staff and ask them if they can fix the Tv Show value of those missing episodes. Fixing data at the source is the best compromise for everyone

edit: in fact, I wonder if they don't use a scrapper themself and "Other TV Shows" is probably a fallback value whe

[2018-05-15 16:15] mattjis commented on #119
@Persei08 Episodes 4-10 from season 1 are also set to "Other TV Shows" but it seemed to get those fine?

[2018-05-15 21:27] Persei08 commented on #119
@mattjis Yes you're right, i know. I'm pretty sure Episodes 4-10 were added manually. So, if for some reason, nobody add the season 2 episodes manually to the PT API, the only other way for having them in the PT API is to ask eztv staff to fix the TV show value of those episodes. I'm just giving the information

[2018-06-10 17:47] luntik2012 opened #121 "api docs are out of date"
I can use more "sorting" variants then you give by link in readme (e.g. "popularity"). there is no movies at all in some genres. request with some genres causes errors (they don't exist).
Fix api docs please.

[2018-06-28 17:15] etodanik opened #122 "why is the default size for fanart/poster w500?"
There are various sizes in the API , and for some reason this API fetches only w500, which ends up looking super pixelated on the Android TV version of the app (usually sporting big resolutions)

[2018-07-19 20:08] aihxpos opened #123 "API for movies and Anime"
## Expected Behavior

## Actual Behavior
The movie and Anime API is not working and i can t find working ones

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version: popcorn-time-community-v0.4.1-5-win.exe
  - Platform:
  - Subsystem:

[2018-07-25 19:35] masoudgs opened #124 "add rotten tomatoes as metadata"
One of the important watching metrics is [Rotten Tomatoes](https://www.rottentomatoes.com). Is possible to add this metric as metadata? and are PR welcomed?

[2018-09-15 19:07] patrickdronk commented on #121
I can't search either according to these docs. But in popcorntime you can :(

[2018-10-14 07:46] luntik2012 commented on #121
but I don't need default laggy app

[2018-12-03 21:10] rcastellotti opened #126 "no seeds"
i just discovered the api, so i decided to set a torrent box and managed to find a way to get the magnets with python's request module, tho i noticed that no matter what show i choose, i always get 0 seeds when torrenting, why is this happening? Can i do anything to fix?
Ciao!
ciambe

[2018-12-03 21:17] #126 closed, assigned to nobody

[2018-12-06 17:26] TriPSs commented on #122
If you want bigger images just replace `w500` with one of the other formats:
- original
- w1280
- w780
- w342

[2018-12-09 07:43] etodanik commented on #122
I understand that , of course, just was wondering why is that the default in the source code?

[2018-12-14 12:59] rebekah65 opened #128 "[Bug] Episodes Are Missing"
Operating System Version:
Same for all

Popcorn Time Version:
Newest Dev

Download date:
To Day

#### Expected Behaviour
When watching something, some tv series are missing episodes or sometimes hole seasons.

#### Actual Behaviour
When watching a tv series all episodes and seasons should be there four users to watch.

[2018-12-14 16:51] zero77 opened #129 "[Feature Request] In App Torrent Search Using Jackett API"
Can you please add Jackett API support to search for torrents, it uses the Torznab protocol.

Torznab example:

![screenshot_2018-11-12 sonarr sonarr](https://user-images.githubusercontent.com/16563034/48353080-718ef300-e686-11e8-8694-6b224fde7ed7.png)

Also the following may be helpful:

- ResultsController.cs is where the query endpoints are located (Potato and Torznab actions)
- Torznab action

[2018-12-16 13:22] rebekah65 opened #130 "[Bug] Can't Always Find Films Or Series"
Operating System Version:
Same for all

Popcorn Time Version:
Newest Dev

Download date:
To Day

#### Expected Behaviour
When you search for a film or series sometimes there's no results.

#### Actual Behaviour
When you search for something it should find what you're looking for so users can watch it.

[2018-12-19 09:16] Persei08 commented on #128
This isn't a bug. For series, It mainly get the episodes by scraping eztv showlist page (https://eztv.io/showlist/) and I guess dead torrents are removed. Don't expect PT api to have everything, it scrap few sites not the whole internet :/

[2018-12-19 09:18] Persei08 commented on #130
This isn't a bug. For movies, It mainly get them from yts (https://yts.am/) website api.

[2018-12-19 09:26] Persei08 commented on #123
The version you use is not related to this project or organization. Check https://github.com/popcorn-official

[2018-12-23 13:20] zero77 commented on #128
I think https://github.com/popcorn-official/popcorn-api/issues/129 may fix this.

[2018-12-23 13:20] zero77 commented on #130
I think https://github.com/popcorn-official/popcorn-api/issues/129 may fix this.

[2019-04-11 20:38] vijayant123 commented on #129
+1 on this request. Also what is the update on this feature's implementation. I would love to help. Another thing to consider adding would be a tiered search result page i.e. your search field is universal, it searches all content over the categories "movies", "series", "anime" and "favorites" and displays results in a Bootstrap accordion format. The tabs of the accordion can be be these categorie

[2020-01-05 05:00] ivan1986 commented on #62
ru provider https://github.com/ivan1986/popcorn-ru

[2020-03-17 05:58] GKid94 opened #131 "Messiah series missing"
Messiah series is missing https://www.imdb.com/title/tt7671598/

![73075125-83d80400-3ebb-11ea-89c3-a356f1f77b64](https://user-images.githubusercontent.com/18757054/76826406-b4ce1880-681c-11ea-80f2-c2498be15236.png)

[2020-03-24 15:52] NessunoIM opened #132 "Enhancement (language filter for audio and subtitles)"
Can you add a "filter" so everyone can view the list of movies only for a specific audio language or specific subtitle language? For example a filter to view a list with only movies with Spanish subtitle... or only movies with French audio... or both!

[2020-04-20 20:24] aleskandro opened #135 "Are api down?"
I'm not anymore able to resolve APIs at https://movies.api-fetch.website/

Are they down? Any new mirror?

[2020-04-23 17:28] touficbatache commented on #135
Yeah, looks like it's down 😕 https://downforeveryoneorjustme.com/movies.api-fetch.website

[2020-05-04 04:24] GKid94 opened #136 "Missing covers"
Some movies and series are missing covers

![Screenshot_1](https://user-images.githubusercontent.com/18757054/80936055-c6b94a00-8dcf-11ea-90a5-49d21c962df6.png)

![Screenshot_2](https://user-images.githubusercontent.com/18757054/80936059-c7ea7700-8dcf-11ea-80c9-07362f0ea0d9.png)

[2020-05-25 22:01] Persei08 commented on #136
Feel free to submit covers to TMDB/TVDB

[2020-05-26 18:16] kotenok2000 opened #137 "Wrong episodes in doctor who series"
## Expected Behavior
play doctor who season 1 episode 3

## Actual Behavior
plays Doctor.Who.Extra.S01E03.Robot.Of.Sherwood.PDTV.x264-DEADPOOL

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version: 0.3.10-0 28112f67
  - Platform:  windows 10   10.0.18363.836
  - Subsystem:

[2020-05-28 14:30] GKid94 commented on #136
The covers are still missing

![Screenshot_1](https://user-images.githubusercontent.com/18757054/83154484-77c9b080-a100-11ea-9ccd-6b86af637f04.png)

![Screenshot_2](https://user-images.githubusercontent.com/18757054/83154490-78fadd80-a100-11ea-8e52-e97fef16c378.png)

[2020-05-28 14:31] GKid94 commented on #136
Can you send me the link

[2020-06-22 17:53] GKid94 commented on #136
Still missing covers

![Screenshot_1](https://user-images.githubusercontent.com/18757054/85319576-03e1b480-b4c2-11ea-8565-21deaeaf050c.png)

[2020-08-24 10:29] GKid94 opened #138 "Movies and series won't load"
## Expected Behavior
For the movies and series list to load

## Actual Behavior
The lists won't load

## Specifications

  - Version: 0.4.4
  - Platform: Windows 10 Pro 64bit

[DxDiag.txt](https://github.com/popcorn-official/popcorn-api/files/5117227/DxDiag.txt)
![Screenshot_2](https://user-images.githubusercontent.com/18757054/91034515-6c095f80-e605-11ea-885c-2d803d8aa18a.png)

[2020-09-28 18:40] paivaandeerson opened #139 "Feature request: Advanced Filter Options"
- As a user I miss multiple genre selection filters to find specific movies.
Ex: the program shows movies that is categorized in 'thriller' and 'mystery'

- I also miss a second 'sort' filter for the same reason.
Ex: Order By: 'trending'; Then By: 'title'

[2020-10-20 21:33] kotenok2000 opened #140 "search does not work with incomplete words"
Operating System Version:

Windows 10
Popcorn Time Version:

0.4.4-0
Download date:

Download url (optional):

Expected Behaviour
...

Actual Behaviour
...The app does not search for incomplete words

Steps to reproduce the behavior
...Enter matrix into search bar. it finds 3 movies
... enter "matr" into search bar. it does not find anything
...
Screenshot of error from developer console (optional

[2020-10-23 14:03] test2a opened #141 "feature request: MPA rating"
## Expected Behavior

please add MPA rating to the api as requested in https://github.com/popcorn-official/popcorn-desktop/issues/1758
https://yts.mx/api for example already gets this data to PCT and PCT displays that in movie listing. My request is to allow filtering using mpa rating

[2020-11-05 10:40] nicksaintjohn opened #142 "Movie scraping doesn't seem to be working, or DB not updating"
## Expected Behavior

Movies scraper should update

## Actual Behavior

Movies scraper is not updating

## Steps to Reproduce the Problem

Return from serv01 :-

`{"repo":"https://github.com/popcorn-official/popcorn-api.git","server":"serv01","status":"Idle","totalAnimes":704,"totalMovies":20361,"totalShows":4640,"updated":1604570400,"uptime":687429,"version":"2.2.3","commit":"6c8a9a4"}`

  1. Che

[2020-11-05 10:43] nicksaintjohn commented on #142
This is the server hosted at https://tv-v2.api-fetch.sh - Does anyone know who has access to this, to fix?

[2020-11-07 18:12] Saphyel commented on #142
I can confirm this

[2020-11-14 16:40] nicksaintjohn commented on #142
Could this possibly relate to PR #133 whereby perhaps the scraper URL is failing on just the movies lookup?

Again, does anyone know who has access to the aforementioned deployment? Perhaps the CI script needs fixing, to update that way? I've not idea how it's configured. Thanks.

[2020-12-21 23:31] parthsaxena commented on #142
Any updates?

[2021-01-02 18:56] mflorezm commented on #142
nicksaintjohn, did you find a solution to https://tv-v2.api-fetch.sh? do you knwo why nobody is able to fix the update problem on the API (it is strange becuase the API is ansering but just old content, nothing new).

Do you know if is there nay way to use the API of getpopcorntime.is? i can not use the v0.4.4 version and change manually the api becuase i'm using KODI with an addon from https://gi

[2021-02-18 03:14] nicksaintjohn commented on #142
I've finally had time to do some updates and fixes to PopcornTimeTV. It's now working relatively well in tvOS 14, with a hack to get search working properly again. It's a true hack, so far from perfect, but it saves you from having to quit and reload the app every now and then.

I've also switched (for now) to an alternative scraper. I have no idea who hosts it, so I may have to switch back, but i

[2021-03-12 11:36] kowalos commented on #142
Good stuff. Can you provide ipa ?

[2021-03-23 23:16] buggyjim commented on #142
Would appreciate an updated .IPA too.. 🙏🏻

[2021-04-22 16:17] buggyjim commented on #142
@nicksaintjohn maybe you can be a trie saint and correct the server issues. You keen followers need   a working .ipa

[2021-04-22 18:30] ivan1986 commented on #142
@buggyjim now api server is down, and i think forever
http://popcorn-ru.tk/ is only one working now server with know and open api
@nicksaintjohn maybe add option in ios and tvos app for set api server? It's not first lockdown.

[2021-04-27 16:01] nicksaintjohn commented on #142
Hey guys,

Sadly, scrapers seem to be increasingly hard to find, and yes, the Russian scraper seems to be our only option for now... I'll maybe switch 'Shows' over to that too - I need to find out what the URL is for it. It's a nice idea to add a scraper configuration option - I'll try to do that, when I have time!

The best solution right now looks to be in migrating the Movies and TV API to the

[2021-04-29 01:22] nicksaintjohn commented on #142
Ok! Try my latest branch out guys...

https://github.com/nicksaintjohn/PopcornTimeTV/tree/pctapi-switch

Let me know if you can get it running. It's a bit buggy, but gets everything is now working again, using the 'current' scraper (used by the more recent apps). Sadly it's a big re-write, and incompatible with the older API, so I can't incorporate a scraper-switching option, as it would take too

[2022-02-27 01:34] Rmdhn1 opened #143 "encanto looks horrid,"
please make a feature that displays all available links and give us the option to choose